.header {
  display: flex;
  height: 50px;
  background-color: yellow;

  .nav {
    display: flex;
    width: 450px;
    margin: auto;

    .item {
      height: 50px;
      width: 150px;
      border: 0;

      background-color: inherit;
      text-align: center;
      text-decoration: none;
      color: black;
    }

    .item:hover {
      background-color: lightblue;
    }
  }
}
