.header {
    height: 80px;
    background-color: #FFD400;

    display: flex;
    align-items: center;

    .img {
        height: 60px;
        padding: 0 20px 0 20px;
        margin-left: 30px;
        background-color: white;
        border-radius: 5px;
    }

    .nav {
        height: 100%;
        width: 750px;
        margin: auto;

        display: flex;

        .item {
            display: block;
            height: 100%;
            width: 150px;

            text-align: center;
            color: black;
            text-decoration: none;

        }

        .item:hover {
            background-color: #00A3C0;
        }
    }


}